<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Great Number Game</title>
</head>
<body>
    <div class="wrapper">
        <h1>Welcome to the Great Number Game!</h1>
        <p>I am thinking of a number between 1 and 100</p>
        <p>Take a guess!</p>
        <h3>{{session['guess']}}</h3>
        {% if session['numb'] == session['guess'] %}
            <h3>{{session['numb']}} was the right number!!</h3>
            <a href="/again"><button>Play Again</button></a>
            
        {% elif session['guess'] > session['numb'] %}
            <h3>Too high!!</h3>
        {% else  %}
            <h3>Too low</h3>
        {% endif %}
        <form action="/guess" method="post">
            <input type="number" name ="number">
            <button>Guess a Number</button>
        </form>

        

    </div>
    
</body>
</html>